/* font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* font style oppince */
body{
    font-family: 'Poppins', sans-serif;
    background: #d8d4fc;
}
/* top players area style */
.head-container{
    width: 928px;
    height: 94px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background: #562EFF;
}
.logo{
   color: #FFF;
   display: grid;
   margin-left: 30px;
   grid-template-columns: repeat(2,1fr);
   align-items: center;
}
.logo img{
   width:40px;
   height: 51px;
}
.logo h2{
   font-size: 20px;
   font-weight: 500;
}
.head-manu{
    display: flex;
    margin-right: 20px;
    align-items: center;
}
.head-manu a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    align-items: center;
    margin-right: 20px;
    color: #FFF;
}
.head-manu img{
    width: 51px;
    height: 51px
}
/*----------main section--------- */
main{    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 870px;
    height: 679px;
    padding: 30px;
    margin-top: 30px;
    border-radius: 5px;
    background: white;
}
.section-title{
    font-size: 24px;
    font-weight: 500;
    color:#562EFF;
    line-height: 40px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    font-size: 18px;
    font-weight: 500;
    padding-left: 16px;
}
hr{
    width: 807px;
    height: 0;
    margin-left: 2px;
    margin-top: 27px;
    margin-bottom: 27px;
    border: 1px solid darkgray;
}
/* Blog Part utilitise */
.blogs{
    display: grid;
    grid-gap: 26px;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
}
.blog{
    display: flex;
}
.blog-thumail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    width: 197px;
    height: 68px;
    margin-left: 20px;
}
.write-pera{
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
}
.blog-athore{
    font-size: 16px;
    color:#9F9F9F;
}
.blog-athore a{
    font-size: 16px;
    text-decoration: none;
    color: #562EFF;
}

/* Letas courses*/
.container2{
    height: 362px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.course{
    Width: 236px;
    Height :269px;
    padding: 10px;
    align-items: center;
    border-radius: 8px;
    background: #f6ededa3;
}
.course-thamail img{
    Width: 235px ;
    Height: 104px ;
}
.course-info{
    width: 194px;
    height: 100px;
}
.course-dital{
   width: 220px;
   font-size: 20px;
   font-weight: 400;
   margin-top: 18px;
}
.course-star{
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-top: 15px;
}
.course-info p{
    font-Weight: 400 ;
    Size : 14.69px ;
    color: #ED6B4F;
}
.fill-star{
    margin-right: 2px;
    color: gold;
}
.event-star{
    color:#AEAEAE;
    opacity: 0.25;
}
.course-star span{
    color: #AEAEAE;
    margin-left: 2px;
}
.clock{
    width: 78px;
    padding: 2px;
    color: #FF4A60;
    border-radius: 10px;
    margin-left: 16px;
    background: rgba(249, 206, 206, 0.923);
}
.fa-clock{
    font-size: 16px;
    color: #FF4A60;
}
/* media qurery */
/*--------------computer divaice-----------*/
@media only screen and (max-width:1312px) {
    body{
        background:#FFF;
    }

    .head-container{
        width: 100%;
    }
    .logo{
        grid-template-columns: repeat(4,1fr);
    }
    .logo h2{
        display: block;
    }
    .head-manu {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .head-manu a{
        display:block;
    }
/* players and blog section */
    .container{
        width: 100%;
        height: 100%;
        background: black;
    }
     .players,.blogs{
        grid-template-columns: repeat(3,1fr);
     }
     .player{
        flex-direction: column;
    }
    .player-name{
        color: #FFF;
    }
    hr{
        width: 100%;
    }
    .blog{
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .write-pera{
        color: #FFF;
    }
    /* Lete's courses */
    .courses{
        grid-template-columns: repeat(3,1fr);
    }
    .course{
        flex-direction: column;
        margin: auto;
        background: #FFF;
    }
}
/*--------------Tablet Divices-------------*/
@media only screen and (max-width:992px){
    body{
        background:#FFF;
    }
    .head-container{
        width: 100%;
    }
    .logo{
        grid-template-columns: repeat(1,1fr);
    }
    .logo h2{
        display: block;
    }
    .head-manu {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .head-manu a{
        display:block;
    }
/* players and blog section */
    .container{
        width: 100%;
        height: 100%;
        background: black;
    }
     .players,.blogs{
        grid-template-columns: repeat(2,1fr);
     }
     .player{
        flex-direction: column;
    }
    .player-name{
        color: #FFF;
    }
    hr{
        width: 100%;
    }
    .blog{
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .write-pera{
        color: #FFF;
    }
    .courses{
        grid-template-columns: repeat(2,1fr);
    }
    .course{
        flex-direction: column;
        margin: auto;
        background: #FFF;
    }
}
/* Ipade size */
@media only screen and (max-width:992px){
    body{
        background:#FFF;
    }

    .head-container{
        width: 100%;
    }
    .logo{
        grid-template-columns: repeat(2,1fr);
    }
    .logo h2{
        display: block;
    }
    .head-manu {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .head-manu a{
        display:block;
    }
/* players and blog section */
    .container{
        width: 100%;
        height: 100%;
        background: black;
    }
     .players,.blogs{
        grid-template-columns: repeat(2,1fr);
     }
     .player{
        flex-direction: column;
    }
    .player-name{
        color: #FFF;
    }
    hr{
        width: 100%;
    }
    .blog{
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .write-pera{
        color: #FFF;
    }
    .courses{
        grid-template-columns: repeat(2,1fr);
    }
    .course{
        flex-direction: column;
        margin: auto;
        background: #FFF;
    }
}
/* mobaile divaice */
@media only screen and (max-width:668px) {
    body{
        background:#FFF;
    }

    .head-container{
        width: 100%;
    }
    .logo{
        grid-template-columns: repeat(2,1fr);
    }
    .logo h2{
        display: block;
    }
    .head-manu {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .head-manu a{
        display:none;
    }
/* players and blog section */
    .container{
        width: 100%;
        height: 100%;
        background: black;
    }
     .players,.blogs{
        grid-template-columns: repeat(1,1fr);
     }
     .player{
        flex-direction: column;
    }
    .player-name{
        color: #FFF;
    }
    hr{
        width: 100%;
    }
    .blog{
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .write-pera{
        color: #FFF;
    }
    /* Lete's courses section */
    .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .course{
        flex-direction: column;
        margin: auto;
        background: #FFF;
    }
}
/* Galaxy screen size */
@media only screen and (max-width:280px){
    body{
        background:#FFF;
    }

    .head-container{
        width: 100%;
    }
    .logo{
        grid-template-columns: repeat(1,1fr);
    }
    .logo h2{
        display: none;
    }
    .head-manu {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .head-manu a{
        display:none;
    }
/* players and blog section */
    .container{
        width: 100%;
        height: 100%;
        background: black;
    }
     .players,.blogs{
        grid-template-columns: repeat(1,1fr);
     }
     .player{
        flex-direction: column;
    }
    .player-name{
        color: #FFF;
    }
    hr{
        width: 100%;
    }
    .blog{
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .write-pera{
        color: #FFF;
    }
    .courses{
        grid-template-columns: repeat(1,1fr);
    }
    .course{
        flex-direction: column;
        margin: auto;
        background: #FFF;
    }
}